modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
author = 35420609

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && node server.js"
